*{
    padding: 0%;
    margin: 0%;
}
.img-principal{
    background-image: url(../imagenes/galaxia.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 5;
    position: fixed;
    
}
.form-box{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    width: 350px;
    height: 450px;
    background-color: rgb(127, 246, 255);
    opacity: 0.7;
    border-radius: 15px;
    
}
.user-i-box{
    width: 150px;
    height: 150px;
    background-color: black;
    display: flex;
    border-radius: 50%;
    position: relative;
    top: -65px;
    left: 100px;
    

}
.user-i-style{
    color: whitesmoke;
    font-size: 130px;
    padding: 10px;
}
input[type="text"]{
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
}

