.form-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    border: 1px solid black;
    width: 500px;
    font-size: 1.3em;
}
legend{
    background-color: rgb(143, 181, 240);
    color: white;
    height: 50px;
    text-align: center;
}
.legend-text{
    padding: 20px;
    font-weight: 900;
}
label{
    display: block;
    color: black;
    margin-top: 20px;
}
label, input, textarea{
    margin-left: 25px;
}
textarea{
    resize: none;
}
.texto-genero{
    color:rgb(27, 23, 23);

}
input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 500px;
    background-color: rgb(71, 158, 230);
    color: aliceblue;
    text-align: center;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    margin-left: 0;
}
.btn-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="text"]:focus{
    border: 0;
    border-bottom: 1px solid black;
    background-color: rgba(240, 234, 207, 0.733);
}
.select-style{
    padding: 10px;
    border-radius: 4px;
    color: rgb(48, 47, 47);
    cursor: pointer;
}
.select-style:focus{
    outline: none;

}
select option{
    padding: 20px;
    margin: 20px;
}