 body{
    background-image: url("../imagenes/Disney.jpg");
    background-size: cover;
 }
 .box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
 }
 .dis-font{
    color: rgb(189, 189, 246);
    font-family: "waltographUI";
    font-weight: 300px;
    font-size: 100px;
 }
 @font-face {
    font-family: waltographui;
    src: url("../fonts/waltograph42.otf");
 }