* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.nav {
    padding: 30px;
}

.nav nav ul li a {
    color: black;
    font-size: 3em;
    text-decoration: none;
    padding: 7px;
    font-family: 'waltograph42';
}

.nav nav ul li {
    list-style: none;

}

.nav nav ul li a:hover {
    background-color: rgb(129, 204, 204);
    padding: 7px;
    border-radius: 4px;

}

.box {
    width: 400px;
    height: 400px;
    background-color: rgb(233, 144, 43);
    margin: 0px 0px 7px 7px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}

h2 {
    color: aliceblue;
    margin: 0px 0px 0px 10px;
}

h3 {
    font-size: 2em;
    color: black;
    margin: 0px 0px 10px 10px;
}

.main-box-direccion {
    display: flex;
    background-color: rgb(189, 219, 245);
    flex-direction: row;
}

.main-box-wrap {
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    flex-flow: wrap;
}

.main-box-noWrap {
    display: flex;
    background-color: rgb(150, 235, 235);
    flex-flow: row nowrap;
}

.main-box-Wrap-continuo {
    display: flex;
    flex-flow: column wrap;
    background-color: beige;
    height: 420px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.main-box-space-between {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: bisque;
}

.main-box-space-evelyng {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-color: bisque;
}

.main-box-space-around {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: bisque;
}

.main-box-Flex-Start {
    display: flex;
    justify-content: flex-start;
    height: 420px;
    background-color: cadetblue;
}

.main-box-Flex-end {
    display: flex;
    justify-content: flex-end;
    height: 420px;
    background-color: rgb(95, 160, 120);
    flex-flow: row-reverse;
}

.main-box-Flex-center {
    display: flex;
    justify-content: center;
    height: 420px;
    background-color: rgb(40, 215, 221);
}

.main-box-Align-Start {
    display: flex;
    align-items: flex-start;
    height: 500px;
    background-color: rgb(127, 202, 186);
}

.box-align-start-1 {
    height: 480px;
}

.box-align-start-2 {
    height: 210px;
}

.main-box-Align-end {
    display: flex;
    align-items: flex-end;
    height: 480px;
    gap: 50px;
    justify-content: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 20PX;
    width: 650px;
}

.cantidad_atributos {
    font-size: 1.5em;
    margin-bottom: 14px;
}

.box-align-end-1 {
    height: 480px;
}

.box-align-end-2 {
    height: 210px;
}

.box-alighn-end-1 {
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 10px;
    width: 90px;
    height: 200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.puntaje {
    font-size: 2em;
    position: absolute;
    bottom: 100%;
}

.box-alighn-end-2 {
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 10px;
    width: 80px;
    height: 300px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box-alighn-end-3 {
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 10px;
    width: 80px;
    height: 380px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box-alighn-end-4 {
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 10px;
    width: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box-alighn-end-5 {
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 10px;
    width: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.border-box-align-end {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 100%;
    cursor: pointer;
}

h4 {
    transform: rotate(270deg);
    margin-bottom: 30px;
}

.box-alighn-end-title {
    height: 480px;
    text-align: center;
    align-items: center;
    display: flex;
}

h5 {
    font-size: 2em;
    text-align: center;
}


hr {
    margin-bottom: 7.3px;
    width: 650px;
}

.sublineas {
    width: 5px;
    margin-bottom: 7.3px;
}

.lineas {
    position: absolute;
}
