*{
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav >ul{
    list-style: none;
    background-color: rgb(7, 7, 7);
    position: absolute;
    width: 100%;
}
nav >ul >li{
    float: left;
    line-height: 70px;
}
nav li{
    width: 320px;
    position: relative;
}
a{
    color: white;
    text-decoration: none;
    padding: 0px 70px;
    font-size: 1.1em;
}
nav ul ul{
    position: absolute;
}

nav li li{
    max-height: 0;
    display: none;
}

nav li:hover >ul >Li{
    visibility: visible;
    max-height: 500px;
    background-color: rgb(11, 12, 12);
    display: block;
}

nav ul ul ul{
    left: 100%;
    top: 0;
}

