*{
    margin: 0%;
    padding: 0%;
}
nav{
    width: 100%;
    height: 80px;
    background-color: black;
}
ul{
    width: 100%;
    height: 80px;
    text-align: right;
}
li{
    display: inline-block;
    padding: 25px 60px;
    font-size: 1.5em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.style-home{
    color: rgb(221, 127, 127);
    font-size: .9em;
    margin-right: 8px;
}
