@font-face {
    font-family: "TT Hoves";
    src: url(..//fonts/TT\ Hoves\ Light.otf);
}

.kayak {
    width: 222px;
    position: fixed;
    height: 100VH;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(217, 223, 222);
    margin-left:10px ;
    padding-right: 7px;
}

.desplegable {
    margin: 11px 0px 23px 5px;
    font-size: 1.4em;
    cursor: pointer;
    padding: 10px;
    color: rgb(135, 150, 161);
}

.hr {
    margin: 10px 4px 10px 4px;
}

.kayak a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: lighter;
    font-family: "TT Hoves", Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.kayak li {
    list-style: none;
    padding: 11px 0px 11px 0px;
    margin-bottom: 2px;

}


.icono {
    margin: 0px 24px 0px 15px;
    color: rgb(135, 150, 161);
}

.kayak li:hover, .desplegable:hover{
    border-radius: 4px;
    background-color: rgb(230, 235, 239);
}

.nav ul li a{
    color: rgba(0, 0, 0, 0.842);
    font-size: 2.2em;
    text-decoration: none;
    padding: 9px ;
    
}
.nav ul li{
    list-style: none;
    
    
}
.nav{
    margin: 40px;
    float: right;
   
}
.nav ul li a:hover{
    background-color:rgba(179, 184, 184, 0.432);
    padding: 9px;
    border-radius: 4px;
   
}

nav ul li:hover i, nav i:hover{
    color:rgba(5, 5, 5, 0.91); 
}
p{
    display: flex;
    text-align: center;

}
