* {
    padding: 0;
    margin: 0;
}
.main-content{
    display: grid;
    grid-template: "main-menu main-boxes" /
                        250px   1fr;
}
.main-menu{
    grid-area: main-menu;
    background-color: rgba(0, 0, 0, 0.839);
    width: 250px;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template: "photo"       250px   
                    "main-items" 1fr   
                    "social-media" 50px /
                    100%;
}
.photo{
    grid-area: photo;
    border-bottom: 1px solid white;
}
.main-items{
    grid-area: main-items;
    border-bottom: 1px solid white;
}
.social-media{
    grid-area: social-media;
    border-bottom: 1px solid white;
}
.main-boxes{
    grid-area: main-boxes;
    width: 100%;
    height: 100vh;
    background-color: rgb(72, 5, 255);
    display: grid;
    grid-gap: 30px;
    grid-template: "empty-left column-1 column-2 column-3 empty-right" /
                        1fr     380px   380px       380px   1fr;            
}
.column-1{
    grid-area: column-1;
    width: 100%;
    height: 900px;
    row-gap: 30px;
    display: grid;
    grid-template: "img1-col1" 300px
                    "img2-col1"  600px /
                    1fr;    
}
.img1-col1{
    grid-area: img1-col1;
    background-color: rgb(246, 218, 173);
    width: 100%;
    border-radius: 10px;
}
.img2-col1{
    grid-area: img2-col1;
    background-color: rgb(246, 218, 173);
    width: 100%;
    border-radius: 10px;

}
.column-2{
    grid-area: column-2;
    width: 100%;
    height: 900px;
    row-gap: 30px;
    background-color: rgb(0, 178, 248);
}
.column-3{
    grid-area: column-3;
    width: 100%;
    height: 900px;
    background-color: rgb(0, 255, 255);
}


 



