body{
    background-image: url(../imagenes/sombra.jfif);
    background-size: cover;
}
h1{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    flex-direction: column;
}

.caja1, .caja2, .caja3, .caja4{
    flex-wrap: wrap;
}

.box-1{
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 20px 20px rgb(185, 58, 27);
    background-color: blanchedalmond;
    border-radius: 5px;

}
.box-2{
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 15px 15px 8px 7px rgb(55, 109, 209);
    background-color: blueviolet;
    border-radius: 5px;
}
.box-3{
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 15px 15px 8px 8px rgb(199, 195, 194 )inset;
    background-color: crimson;
    border-radius: 5px;
}
.box-4{
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: darkcyan;
    border-radius: 5px;
    box-shadow: 10px 15px 6px;
}
.box-5{
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: brown;
    border-radius: 5px;
    box-shadow: 15px 15px 30px;
}
.box-6{
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: gold;
}

.box-6:hover{box-shadow: black 0px 0px 0px 2px inset, rgb(199, 195, 194 ) 10px -10px 0px -3px, rgb(55, 109, 209) 10px -10px;
}

.box-5:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px yellow, -5px 5px 5px yellow, opx -5px 5px yellow;

}
.p{
    color: antiquewhite;
    text-align: center;
}

.p3{
    color: black;
}

.p-5{
    padding: 10px;
    text-align: center;
}

