body{
    background-image: url("https://i.pinimg.com/originals/82/44/21/824421e579605dac288685cbd32fd3aa.jpg");
    background-size: cover;
}
.ct2{
    color: chartreuse;
}
.ct2{
    color: darkcyan;
}
.ct2{
    color: aquamarine;
}