table{
    border-collapse: collapse;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

th{
    padding: 10px;

}

td{
    padding: 10px;
    text-align: center;
    border-right: 1px dashed rgb(80, 24, 8);
}

.ub{
    border-bottom: 1px solid black;

}

.ut{
    border-top: 1px solid black;

}
.imagen{
    height: 100px;
    width: 250px;
    padding: 1px;

}
.img{
    width: 100px;
}