* {
    padding: 0%;
    margin: 0%;
}


input[type="password"], input[type="number"] {
    display: block;
    padding: 8px ;
    width: 93%;
    font-size: 0.8em;
    outline: none;
    
}

input[type="password"]:focus, input[type="number"]:focus{
     box-shadow: 2px 2px 10px rgb(44, 65, 220),
     -2px -2px 10px rgb(202, 117, 20) ;
     
    border: 2px solid rgba(202, 117, 20, 0);
   
}

fieldset {
    justify-content: center;
    align-items: center;
    padding: 48px;
    border: solid black 1px;
    border-top: none;
    
}

.encc{
   width: 98px;
}
label{
    display: block;
    font-size: 1.3em;
    padding: 18px 0px;
    color: white;
}
.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.8em;
    text-align: center;
    padding: 18px;
    color: rgb(18, 18, 19);
    background-color: aliceblue;
}

.iniciar {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38px 0px;
}

.restablecercontraseña{
    text-align: right;
}





button{
    padding: 8px 118px;
    font-size: 0.8em;
    border: solid 1px white;
    width: 100%;
    
}
button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

form{
    background-color:rgba(0, 0, 0, 0.842);
   
}



body{
    background-image: url(../imagenes/BOSQUE.jpg);
    background-size: cover  ;
}

a{
    color: white;
}

.iniciodesesion{
    margin: 10em 0px 30px 0px;
    
    
}

.recordar{
    padding: 18px 0px;
    color: white;
}

nav ul li a{
    color: rgba(248, 239, 239, 0.842);
    font-size: 2.2em;
    text-decoration: none;
    padding: 9px ;
    
}
nav ul li{
    list-style: none;
    
    
}
nav{
    margin: 30px 0px 0px 30px;
}
nav ul li a:hover{
    background-color:rgba(179, 184, 184, 0.432);
    padding: 9px;
    border-radius: 4px;
   
}