*{
    padding: 0%;
    margin: 0%;
} 

.menu{
    background-color: rgb(243, 235, 235);
    color: rgb(20, 20, 20);
    height: 70px; 
    box-shadow: black 3px 3px 3px;
    margin: 5px 100px;
}
.menu1{
    display: flex;
    justify-content: right;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin: 20px 20px 20px 20px;

}
.item:hover{
    color: blue;
}
@media only screen and (max-width: 769px){
    body{
        background-color:  rgb(243, 235, 235);
    }
    .menu{
        
        display: block;
        justify-content: center;
        box-shadow: none;
        
        
    }
    .menu1{
        display: block;
        flex-direction: column;
        justify-content: center;

    }
    .item{
        border-bottom: solid 2px ;
        height: 40px;
        box-shadow: 0px 3px 13px 0px;
    }
} 
    

    
